!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Edit Cheese</title>
</head>

<body>
    <h1>Edit <%= cheese.name %>
    </h1>
    <form action="/cheeses/<%=cheese._id%>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" value="<%= cheese.name %>" />


        <label for="isStinky">Is Stinky?</label>
        <input type="checkbox" name="isStinky" <% if (cheese.isStinky) { %>checked<% } %> >

        <button type="submit">Update Cheese</button>
    </form>

    <<!-- edit.ejs / show.ejs -->

<a class="cheeses-index-link" href="/cheeses">
    <div class="index-link-text">Back to Cheeses</div>
  </a>
  
</body>

</html>