<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a Cheese</title>
  </head>
  <body>
    <h1>Create a New Cheese!</h1>
    <!-- views/fruits/new.ejs -->

<body>
    <h1>Create a New Fruit!</h1>
    <form action="/cheeses" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" />
  
      <label for="isStinky">Is it Cheese</label>
      <input type="checkbox" name="isStinky" id="isStinky" />
  
      <button type="submit">Add Cheese</button>
    </form>
  </body>
  
  </body>
</html>
