<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Cheese App</title>
  </head>
  <body>
    <a href="/cheeses">Browse Cheeses</a>
    <a href="/cheeses/new">Add New Cheese</a>
    <h1>Welcome to the Cheeses app!</h1>
    <p>An app for collecting your favorite cheeses.</p>

</html>
